body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
.login-tablet {
    margin: 10% auto;
    width: 32%;
}
.login-tablet h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 0 50px 0;
    font-family: 'Droid Serif', serif;
}

.login-container {
    background: #E1E1E1;
    border-radius: 25px 25px 0px 0px;
    -webkit-border-radius:  25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    -o-border-radius: 25px 25px 0px 0px;
    padding: 40px 60px;
}
.login-container h1 {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    color: #F45B4B;
    margin: 0px 0px 20px 0;
}
.login-container input[type="text"] {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #818181;
    padding: 15px 20px;
    background: #CACACA;
    border: 1px solid #ccc;
    border-radius:25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    margin: 0px 0px 12px 0px;
    width: 88%;
    -webkit-appearance: none;
}
.login-container input[type="password"]{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #818181;
    padding: 15px 20px;
    background: #CACACA;
    border: 1px solid #ccc;
    border-radius:25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    margin: 0px 0px 12px 0px;
    width: 88%;
    -webkit-appearance: none;
}

.forgot-pass  a{
    font-size: 13px;
    font-weight: 500;
    color: #F45B4B;
    display: inline-block;
    border-right: 2px solid #F45B4B;
    padding: 0px 7px 0px 0px;
}
.forgot-pass  a:hover{
    color: #818181;
}
.forgot-pass button[id="submitLogin"] {
    background: #F45B4B;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    padding: 8px 7px;
    width: 20%;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0px 7px 0px 3px;
    outline: none;
    border: none;
}
.forgot-pass button[id="submitLogin"]:hover {
    background:#46b8da;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.forgot-pass {
    text-align: right;
}


.login-bottom {
    background: #E15748;
    padding: 30px 65px;
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius:  0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
    text-align: right;
    border-top: 2px solid #AD4337;
}
.login-bottom h3 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.login-bottom h3 a {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.login-bottom h3 a:hover {
    color:#696969;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}


/*--meadia quiries start here--*/
@media(max-width:1440px){
    .login-tablet {
        width: 35%;
    }
}
@media(max-width:1366px){
    .login-tablet {
        width: 37%;
    }
}
@media(max-width:1280px){
    .login-tablet {
        width: 40%;
    }
}
@media(max-width:1024px){
    .login-tablet {
        width: 48%;
    }
}
@media(max-width:768px){
    .login-tablet {
        width: 65%;
    }
    .login-container h1 {
        font-size: 25px;
    }
    .login-bottom h3 a {
        font-size: 22px;
    }
    .copyright {
        padding: 250px 0px 0px 0px;
    }
    body {
        padding: 100px 0px 0px 0px;
    }
    .login-tablet h2 {
        font-size: 28px;
    }
}
@media(max-width:640px){
    .login-container h1 {
        font-size: 23px;
    }
    .forgot-pass input[type="submit"] {
        font-size: 15px;
        width: 22%;
    }
    .login-container input[type="text"] {
        padding: 12px 20px;
    }
    .login-container input[type="password"] {
        padding: 12px 20px;
    }
    .login-bottom h3 a {
        font-size: 19px;
    }
    .login-bottom h3 {
        font-size: 13px;
    }
    .copyright {
        padding: 110px 0px 0px 0px;
    }
    body {
        padding: 110px 0px 0px 0px;
    }
}
@media(max-width:480px){
    .login-tablet {
        width: 80%;
    }
    .login-container h1 {
        font-size: 21px;
    }
    .login-container input[type="text"] {
        width: 85%;
    }
    .login-container {
        padding: 30px 40px;
    }
    .login-container input[type="password"] {
        width: 85%;
    }
    .login-tablet h2 {
        font-size: 25px;
    }
}
@media(max-width:320px){
    .login-tablet {
        width: 90%;
    }
    .login-container {
        padding: 20px 25px;
    }
    .login-container input[type="text"] {
        width: 81%;
        padding: 10px 20px;
        font-size: 13px;
        margin: 0px 0px 7px 0px;
    }
    .login-container input[type="password"] {
        width: 81%;
        padding: 10px 20px;
        font-size: 13px;
        margin: 0px 0px 7px 0px;
    }
    .forgot-pass input[type="submit"] {
        font-size: 11px;
        width: 25%;
        padding: 6px 7px;
    }
    .forgot-pass  a {
        font-size: 11px;
    }
    .login-bottom {
        padding: 20px 25px;
    }
    .login-bottom h3 {
        font-size: 11px;
    }
    .login-bottom h3 a {
        font-size: 17px;
    }
    body {
        padding: 50px 0px 0px 0px;
    }
    .copyright p {
        font-size: 13px;
    }
    .copyright p a{
        font-size: 13px;
    }
    .login-tablet h2 {
        font-size: 23px;
        margin:0px 0px 35px 0px;
    }
    .copyright {
        padding: 75px 0px 0px 0px;
    }
}
/*--meadia quiries end here--*/