<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>个人记录</title>

    <link href="/css/bootstrap.css" rel="stylesheet">

    <style>
        html,body{
            width: 100%;
            height: 100%;
            background: #fbf9fe;
        }
        body::-webkit-scrollbar {
            display: none;
        }
        html, body {
            overflow-x: hidden; /* Prevent scroll on narrow devices */
        }
        #datas {
            margin: 0 auto;
        }
    </style>
</head>

<body id="hole">

<div id="container">

    <nav class="mx-auto navbar sticky-top navbar-light bg-light navbar-expand-lg">
        <a class="navbar-brand" href="#">@_@ 0.0 :)</a>

        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">开始游戏</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rank">积分榜</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">个人纪录</a>
                </li>
            </ul>

            <span>{{ username }}</span>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row mx-auto">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 mx-auto">

                <div id="datas">
                    <h6>最近7天成绩：</h6>

                    <div class="chart" id="time-chart" style="width: 70%;height:400px;"></div>

                    <div class="chart" id="score-chart" style="width: 70%;height:400px;"></div>
                </div>


            </main>
        </div>
    </div>

</div>

</body>


<script src="/js/vue.js"></script>
<script src="/js/vue-resource.js"></script>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/echarts.js"></script>
<script>
    let app = new Vue({
        el: '#container',
        data: {
            username: sessionStorage.username,
            userId: sessionStorage.userId
        }
    });

    $(function () {
        let timeChart = echarts.init(document.getElementById('time-chart'));
        let timeOption =  {
            xAxis: {
                type: 'category',
                data: []
            },
            title: {
                left: 'center',
                text: '游戏次数折线图',
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [],
                type: 'line'
            }]
        };
        timeChart.setOption(timeOption);

        let scoreChart = echarts.init(document.getElementById('score-chart'));
        let scoreOption = {
            title: {
                text: '得分统计'
            },
            tooltip: {},
            legend: {
                data:['得分数']
            },
            xAxis: {
                data: []
            },
            yAxis:{},
            series: [{
                name: '得分数',
                type: 'bar',
                data: [],
                itemStyle:{normal:{color:'rgb(255,127,80)'}}
            }]
        };
        scoreChart.setOption(scoreOption);

        function init() {
            timeChart.setOption({
                xAxis: {
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                series: [{
                    data: [3, 5, 8, 2, 2, 1, 5]
                }]
            });

            scoreChart.setOption({
                xAxis: {
                    data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
                },
                series: [{
                    data: [5, 20, 30, 10, 10, 0, 20]
                }]
            });
        }

        init();
    })

</script>
</html>